
*.user

build*/

app/build*/
app/installer/packages/stream.NightVsKnight.QtNdiMonitorCapture/data/
app/installer/packages/stream.NightVsKnight.QtNdiMonitorCapture/meta/LICENSE.md
app/installer/QtNdiMonitorCaptureInstaller.exe

app/.qmake.stash
app/.vs/QtNdiMonitorCapture/v16/
app/debug/
app/release/
app/QtNdiMonitorCapture.sln
app/QtNdiMonitorCapture.vcxproj
app/QtNdiMonitorCapture.vcxproj.filters
lib/support/simplecapture/pch.h.cpp
lib/debug/
lib/release/
plugins/*/debug/
plugins/*/release/
examples/*/debug/
examples/*/release/
Makefile*
debug_qmake_resources_qmlcache.qrc
release_qmake_resources_qmlcache.qrc
moc_.cpp.json
.qtc_clangd
.qmake.stash
