
*.user

build*/

app/build*/
app/installer/packages/stream.NightVsKnight.QtNdiMonitorCapture/data/
app/installer/packages/stream.NightVsKnight.QtNdiMonitorCapture/meta/LICENSE.md
app/installer/QtNdiMonitorCaptureInstaller.exe
